@model dotNetCore_DatabaseFirst.Models.OperaModel
@{
    ViewData["Title"] = "Index";
}

    <ul>
        <li>
            @Model.OperaID
        </li>
        <li>
            @Model.Title
        </li>
        <li>
            @Model.Year
        </li>
        <li>
            @Model.Composer
        </li>
    </ul>
